/* Media Query para pantallas de escritorio (mayores a 1024px) */
@media (min-width: 992px) {
    .carruselPersonalizadoDJuego {
        height: auto;
        width: 800px;
    }
}

/* Media Query para tabletas y móviles grandes (entre 768px y 1024px) */
@media (max-width: 1023px) and (min-width: 768px) {}

/* Media Query para móviles pequeños (menos de 768px) */
@media (max-width: 767px) {}


.row>* {
    /*Quitamos el padin y margin por decto de bostrap*/
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}


/*Targeta Pricipal*/
.img-principalV img {
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    max-height: 500px;

}

.card {
    border: 0;
    background: none;
}

.estiloTargetaPrincipal {
    background-color: #1A233A;
    /* Fondo oscuro */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra suave */
    color: white;
    /* Texto blanco */
    /* Espaciado interno */
    overflow: hidden;
    /* Evita que el contenido desborde */
    font-family: 'Arial', sans-serif;
    /* Fuente legible */
    line-height: 1.6;
    /* Espaciado entre líneas */

}


.estiloTargetaPrincipal .card-title,
.tituloDelJuego {
    text-align: center;
    font-size: 40px;
    color: white;
    /* Texto blanco */
    font-weight: bold;
    /* Hacer el texto más grueso para destacar */
    text-transform: uppercase;
    /* Opcional: poner el texto en mayúsculas */

    /* Añadir un contorno alrededor del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

    /* Fondo de color oscuro para el contorno */
    padding: 10px 20px;
    /* Espaciado interno para que el texto no esté pegado al borde */
    background-color: #2c376e;
    /* Fondo negro con algo de transparencia */
    border-radius: 15px;
    /* Bordes redondeados */

    /* Agregar un borde de color negro */
    border: 2px solid black;

    /* Opcional: agregar un leve efecto de sombra */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    text-wrap: balance;
}

.estiloTargetaPrincipal .card-text {
    color: white;
}

.estiloTargetaPrincipal h1,
.estiloTargetaPrincipal h2,
.estiloTargetaPrincipal h3,
.estiloTargetaPrincipal h4,
.estiloTargetaPrincipal h5 {
    font-size: 24px;
    /* Título grande */
    font-weight: bold;
    margin-bottom: 15px;
    color: #e6e1e1;
    /* Destaca el título con color dorado */
    text-align: center;
    /* Centrado */
    border-radius: 20px;
    border: 1px solid;
    padding: 5px;
}

.estiloTargetaPrincipal p {
    margin: 10px 0;
    color: #c9d2db;
    text-align: justify;

}




/*Lista De Detalles del Juego*/
#myTab .nav-link {
    color: white;
}

#myTabContent {
    background-color: #1A233A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}

#myTab button {
    background-color: #1A233A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#myTab button.active {
    background-color: #2c376e;
    /* Color de fondo del botón activo */
}

#carouselExampleIndicators {
    /* Amplía el espacio hacia abajo */
    padding-top: 20px;
    padding-bottom: 90px;
}
.carousel-item img{
    border-radius: 10px;
}
 .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: 50%;
    background-position: center;
}

#carouselExampleIndicators .custom-control-prev {
    width: 100px;
    /* Ancho personalizado */
    height: auto;
    /* Mantén la proporción */
}
